<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="popup.css">
</head>

<body>
  <div id="container" :style="{ backgroundColor:selected ? selected.color : '#EEE' }" @click="isTicking = true">

    <div class="project-selector">
      <select 
        id="ddl-project-selector" 
        v-model="settings.selected" 
        v-if="!!selected && !newProject.isEditorOpened" 
        @change="newProject.isEditorOpened = newTask.isEditorOpened = false"
        @click.stop="isTicking = !isTicking">
        <option v-for="project in projects" :value="project.id" :key="project.id">
          {{ project.name }}
        </option>
      </select>
      <span v-else-if="Object.keys(projects).length === 1">
          {{ project.name }}
      </span>
      <img src="../resources/create.png" alt="create" title="Create project" @click="showNewProject" v-if="!newProject.isEditorOpened">
      <div class="new-project" v-if="newProject.isEditorOpened">
        <input type="text" id="txb-project-name" v-model="newProject.name" placeholder="e.g. Holiday TODO" @keydown.enter="createProject">
        <img src="../resources/create.png" alt="create" @click="createProject" title="Create project">
      </div>
    </div>

    <div class="project-details" v-if="!!selected">
      <div class="start-session category">
        <span>Start work on </span>
        <select id="ddl-task-selector" v-model="selectedTaskId" v-if="selected.tasks.length >= 1" @click.stop="isTicking = !isTicking">
          <option value="" selected>the project</option>
          <option v-for="task in selected.tasks" :value="task.id" :key="task.id">
              {{ task.name.length > 50 ? task.name.slice(0,50)+'...' : task.name }}
          </option>
        </select>
        <span v-else>the project</span>
        <img :src="recordButton" alt="start" title="Start work" @click="clickRecord">
        <img :src="pauseButton" alt="pause/restart" title="Pause/Restart" @click="clickPause" v-show="selectedTaskState">
      </div>

      <div class="times category">
        <span class="times-title">Time spent</span>
        <span>On project : {{ formatDuration(bg.P.getDuration(selected, false)) }}</span>
        <span>Total : {{ formatDuration(bg.P.getDuration(selected, true)) }}</span>
      </div>

      <div class="task-list category" v-if="selected.tasks.length">
        <div class="task" v-for="task in selected.tasks">
          <span :class="{ pointer:!!task.url }" @click="task.url && open(task.url)">
            <a v-if="task.url" :href="task.url" target="_blank">
              <img src="../resources/link.png" alt="link" title="task.url">
            </a>
            {{ task.name.length > 50 ? task.name.slice(0,50)+'...' : task.name }}
          </span>
          <span style="font-size: 0.8em">
            {{ formatDuration(bg.P.getDuration(selected, task.id)) }}
            <img :src="'../resources/check-box-' + (task.done ? 'checked' : 'empty') + '.png'" @click="setTaskDone(task.id)">
          </span>
        </div>
      </div>

      <div class="add-task category">
        <img src="../resources/create.png" alt="create" title="Create task" v-if="!newTask.isEditorOpened"  @click="showNewTask">
        <div class="new-task" v-if="newTask.isEditorOpened">
          <label for="txb-task-name">
            Label
            <input type="text" id="txb-task-name" autofocus v-model="newTask.name" placeholder="e.g. feed the chickens" @keydown.enter="addTask">
          </label>
          <label for="ckb-url">
            Include current URL in task
            <input type="checkbox" id="ckb-url" v-model="newTask.includeURL" @keydown.enter="addTask">
          </label>
          <label for="txb-priority">
            Priority
            <input type="number" id="txb-priority" v-model.number="newTask.priority" @keydown.enter="addTask">
          </label>
          <img src="../resources/create.png" alt="create" title="Create task" @click="addTask">
        </div>
      </div>

      <div class="open-options">
        <img src="../resources/settings.png" alt="options" title="Open Options" @click="openOptions">
      </div>

    </div>

  </div>
  <script src="../lib/browser-polyfill.min.js"></script>
  <script src="../lib/moment.js"></script>
  <script src="../lib/lodash.min.js"></script>
  <script src="../lib/vue.js"></script>
  <script src="popup.js"></script>
</body>

</html>
