<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="../lib/colors.css">
  <link type="text/css" rel="stylesheet" href="../lib/w3.css">
  <link type="text/css" rel="stylesheet" href="popup.css">
</head>

<body>
  <div id="container" :style="{ backgroundColor:selected ? selected.color : '#EEE' }">

    <div class="project-selector">
      <select id="ddl-project-selector" v-model="settings.selected" v-if="Object.keys(projects).length > 1" @change="newProject.isEditorOpened = newTask.isEditorOpened = false">
        <option v-for="project in projects" :value="project.id" :key="project.id">
          {{ project.name }}
        </option>
      </select>
      <span v-else-if="Object.keys(projects).length === 1">{{ _.values(projects)[0].name }}</span>
      <img src="../resources/create.png" alt="create" title="Create project" @click="newProject.isEditorOpened = true" v-if="!newProject.isEditorOpened">
      <div class="new-project" v-if="newProject.isEditorOpened">
        <input type="text" id="txb-project-name" v-model="newProject.name" placeholder="e.g. Holiday TODO" @keydown.enter="createProject">
        <img src="../resources/create.png" alt="create" @click="createProject" title="Create project">
      </div>
    </div>

    <div class="project-details" v-if="!!selected">
      <div class="start-session">
        <span>Start work on </span>
        <select id="ddl-task-selector" v-model="selectedTask" v-if="selected.tasks.length > 1">
          <option value="null">the project</option>
          <option v-for="task in selected.tasks" :value="task.id" :key="task.id">{{ task.name }}</option>
        </select>
        <span v-else>the project</span>
        <img src="../resources/record.png" alt="Start" title="Start work">
      </div>

      <div class="task-list">
        <div class="task" v-for="task in selected.tasks">
          <div :href="task.url">
            {{ task.name }}
            <img :src="'../resources/check-box-' + (task.done ? 'checked' : 'empty') + '.png'" @click="setTaskDone(task.id)">
          </div>
        </div>
      </div>

      <div class="add-task">
        <img src="../resources/create.png" alt="create" title="Create task" v-if="!newTask.isEditorOpened"  @click="newTask.isEditorOpened = true">
        <div class="new-task" v-if="newTask.isEditorOpened">
          <input type="text" id="txb-task-name" autofocus v-model="newTask.name" placeholder="e.g. feed the chickens" @keydown.enter="addTask">
          <label for="ckb-url">
            Include current URL in task
            <input type="checkbox" id="ckb-url" v-model="newTask.includeURL">
          </label>
          <label for="txb-priority">
            Priority
            <input type="number" id="txb-priority" v-model.number="newTask.priority">
          </label>
          <img src="../resources/create.png" alt="create" title="Create task" @click="addTask">
        </div>
      </div>

    </div>

  </div>
  <script src="../lib/browser-polyfill.min.js"></script>
  <script src="../lib/jquery.js"></script>
  <script src="../lib/moment.js"></script>
  <script src="../lib/lodash.min.js"></script>
  <script src="../lib/vue.js"></script>
  <script src="popup.js"></script>
</body>

</html>
